<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Universal</title>
    {{#if isDev}}
      <link rel="stylesheet" href="main.css" />
    {{/if}}
  </head>
  <body>
    <header>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
    </footer>

    <script>
      window.__INITIAL_STATE__ = {{{state}}}
    </script>
    {{#if isDev}}
      <script src="main.js"></script>
    {{/if}}
  </body>
</html>
